<h1>My Blog Posts</h1>
<% unless @posts.empty? %>
  <ul>
  <% for post in @posts %>
     <li><%= link_to post.title, posts_show_path(post.id) %></li>
  <% end %>
  </ul>
<% else %>
  <p>There are no posts here!</p>
<% end %>
<%= link_to 'Create new post', posts_new_path %>
