<%= form_for @post, :url => { :action => "create" } do |f| %>  
  <%= f.label :title, "Title" %><br />
  <%= f.text_field :title %><br />
  <%= f.label :body, "Body" %><br />
  <%= f.text_area :body, :size => "60x12" %><br />
  <%= f.submit "Submit" %>
<% end %>